# Make sure new windows and panes are in current directory
bind c new-window -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"

# Configure some defaults for usability
set-option -g status-position top
set-option -g base-index 1
set-option -g history-limit 50000
set-option -g display-time 2000
set-window-option -g automatic-rename off
set-window-option -g pane-base-index 1

# Enable vi mode
set-option -g status-keys vi
set-option -g mode-keys   vi
set-window-option -g mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key 'v' copy-mode # Remap 'v' to enter copy mode
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
unbind Left
unbind Right
unbind Up
unbind Down
bind-key H resize-pane -L 2
bind-key L resize-pane -R 2
bind-key K resize-pane -U 2
bind-key J resize-pane -D 2

# config keybindings
bind-key r source-file ~/.config/tmux/tmux.conf \; display-message "Reloaded tmux configuration"

# Better keybinding for breaking out a pane to a new window
bind-key B break-pane

# Enable possibility to edit buffer in EDITOR
bind-key e run-shell "tmux-edit-buffer-in-editor"
bind-key -r f run-shell "tmux new-window ${HOME}/bin/tmux-sessionizer"

# Rebind suspend to get rid of accidental suspeding
bind-key C-z resize-pane -Z

# Open scratch terminal to be able to perform a quick edit
bind-key S display-popup -d "#{pane_current_path}" -h 75% -w 75% -E

# Open gitui to be able to perform ui work with git
bind-key g display-popup -d "#{pane_current_path}" -h 75% -w 75% -E "gitui"

# Open k9s to be able to perform file system operations
bind-key T display-popup -d "#{pane_current_path}" -h 75% -w 75% -E "k9s"

# Needed for Neovim to reload buffers on change
set-option -g focus-events on

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

